@import '../../globalstyle/globalstyle.scss';
.header{
  width: 100%;
    background-color: $secondaryColor;
}
.custom-menu {
    .ant-menu-item-selected {
      background-color: transparent !important; 
      color:$secondaryColor !important; 
      border-bottom: 2px solid $secondaryColor; 
    }
  
    .ant-menu-item:hover {
      color: $secondaryColor !important;
    }
  }
  